
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<section class="orders-show">

  <header>
    <h1>Order #<%= @order.id %></h1>
  </header>

  <h2>What you Ordered: </h2>
  <hr>
  <% @order.line_items.each do |item| %>

    <h4><%=item.product.name %></h4>
    <p><%=item.product.description %></p>
    <h4>Quantity: <%= item.quantity%></h4>
    <h4>Price: <%= item.product.price%></h4>
    <hr>
  <% end %>

<h2>Total: <%= @order.total %></h2>

    <h3>Thank you for your order!</h3>


</section>
</html>