<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
 <% @user.errors.each do |attr, msg| %>
    <li><%= "#{attr} #{msg}" if @user.errors[attr].first == msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  <%= f.label :firstname, "Firstname: " %>
  <br>
  <%= f.text_field :firstname %>
  <hr>
  <%= f.label :lastname, "Lastname: " %>
  <br>
  <%= f.text_field :lastname %>
  <hr>
  <%= f.label :email, "Email: " %>
  <br>
  <%= f.text_field :email %>
  <hr>
  <%= f.label :password, "Password: " %>
  <br>
  <%= f.password_field :password %>
  <hr>
  <%= f.label :password_confirmation, "Password Confirmation: " %>
  <br>
  <%= f.password_field :password_confirmation %>
  <hr>
  <%= f.submit "Submit", :class => "btn btn-primary" %>

<% end %>