<p id="notice"><%= notice %></p>

<h1>Listing Current Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_users.each do |current_user| %>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.login %></td>
        <td><%= link_to 'Show', current_user %></td>
        <td><%= link_to 'Edit', edit_current_user_path(current_user) %></td>
        <td><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Current user', new_current_user_path %>
